@page "/"

<h1>MDM DashBoard</h1>

Welcome to your new app.

<div class="container">
    <p>Number of Devices</p>
    <p>OS - Pie Graph</p>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
s